header{
    background-color: #66D79B;
    
}

body{
    background-color: #2F4858;
    color: black;
}

.container{
    color: white;
}
/* 
.row{
    margin-left: 12px
} */

.img-fluid{
    width: 75px;
    border-radius: 75px;
}

.main-content{
    margin-left: 50px;
}

.card-text{
    font-size: 15px;
}