{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}
{% block content %}
<div class="row mb-3 m-2 mt-5 text-center float-">
    <div class="mr-2 col-6 themed-grid-col">
        <div class="container">
            <h1>Sobre mim</h1>
            <h4 class="text-start text-break mt-4">Me chamo Gabriel Alexandre Pinto, tenho 19 anos e moro em
                Piracicaba-SP. Atualmente sou estudante, faço faculdade na Escola de Engenharia de
                Piracicaba (EEP), no curso de Ciências da Computação (atualmente no 3° semestre), com previsão de
                conclusão para 2026.
                <br>
                Estou em constante aprendizado, sempre buscando aprender, tanto como por cursos como por vídeos no
                youtube.
                <br>
                Conhecimento nas linguagens e frameworks: HTML, CSS, Python, C, Flask e SQL
                <br>
                Meus perfis: <a href="https://github.com/GaZ33" target="_blank">GitHub</a>, <a
                    href="https://www.linkedin.com/in/gabriel-pinto-ab2038283/" target="_blank">Linkedin</a> e <a
                    href="https://www.instagram.com/gabriel_gaz3/" target="_blank">Instagram</a>
            </h4>
        </div>
    </div>
    <div class="mr-2 col-1 themed-grid-col">

    </div>
    <div class="col-5 themed-grid-col">
        <div class="container">
            <h1><strong>Sobre o projeto</strong></h1>
            <h4 class="mt-4 text-start">Projeto baseado no vídeo <a href="https://www.youtube.com/watch?v=Qr4QMBUPxWo"
                    target="_blank">Flask Course - Python Web Application Development</a> com
                algumas alterações, como a biblioteca SQLite3 e exclusão/adição de algumas funções.
                <br>
                Caso queira saber mais sobre esse projeto acesse <a href="https://github.com/GaZ33/My_market_flask"
                    target="_blank">o repositório no GitHub</a>
            </h4>
        </div>
    </div>
</div>

<div class="row mb-3 m-2 mt-5 text-center float-">
    <div class="mr-2 col-12 themed-grid-col">
        <a class="btn btn-success" href="">Get Started</a>
    </div>
</div>




{%endblock%}