{% extends 'base.html'%}

{% block title%}
Register Page
{% endblock%}

{% block content%}
<h1 class="h3 mb-3 font-weight-normal text-center">
    Please Create your Account
</h1>
<br>
<form class="form-register" style="color:white" method="POST">
    {{ form.hidden_tag() }}
    {{ form.login.label(class="mb-2")}}
    <!-- Esse statement irá aceitar o input do user, o argumento é só uma classe do boostrap -->
    {{form.login(class="form-control mb-3", placeholder="User Name") }}

</form>



{% endblock%}
